@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #0b0b0b;
    --card: #f2f4f6;
    --card-foreground: #0b0b0b;
    --popover: #f2f4f6;
    --popover-foreground: #0b0b0b;
    --primary: #004b45;
    --primary-foreground: #0b0b0b;
    --secondary: #1e70b2;
    --secondary-foreground: #0b0b0b;
    --muted: #d1d3d8;
    --muted-foreground: #0b0b0b;
    --accent: #4692cb;
    --accent-foreground: #f9fafb;
    --destructive: #ba181b;
    --destructive-foreground: #0b0b0b;
    --border: #004b45;
    --input: #338877;
    --ring: #003d37;
    --chart-1: #edf2f4;
    --chart-2: #0b6059;
    --chart-3: #9fa2a9;
    --chart-4: #003049;
    --chart-5: #669bbc;
    --radius: 0.5rem;
    --sidebar-background: #f2f4f6;
    --sidebar-foreground: #0b0b0b;
    --sidebar-primary: #004b45;
    --sidebar-primary-foreground: #f9fafb;
    --sidebar-accent: #9bc3bb;
    --sidebar-accent-foreground: #0b0b0b;
    --sidebar-border: #a3c8e5;
    --sidebar-ring: #338877;
  }

  .dark {
    --background: #0b0b0b;
    --foreground: #f9fafb;
    --card: #101417;
    --card-foreground: #f9fafb;
    --popover: #101417;
    --popover-foreground: #f9fafb;
    --primary: #1e70b2;
    --primary-foreground: #0b0b0b;
    --secondary: #004b45;
    --secondary-foreground: #f9fafb;
    --muted: #373a3f;
    --muted-foreground: #f9fafb;
    --accent: #f9fafb;
    --accent-foreground: #4692cb;
    --destructive: #ba181b;
    --destructive-foreground: #f9fafb;
    --border: #122766;
    --input: #338877;
    --ring: #4692cb;
    --chart-1: #478ec8;
    --chart-2: #9bc3bb;
    --chart-3: #2ba38b;
    --chart-4: #e4e6e9;
    --chart-5: #6096ba;
    --radius: 0.5rem;
    --sidebar-background: #101417;
    --sidebar-foreground: #f9fafb;
    --sidebar-primary: #1e70b2;
    --sidebar-primary-foreground: #f9fafb;
    --sidebar-accent: #338877;
    --sidebar-accent-foreground: #0b0b0b;
    --sidebar-border: #74add8;
    --sidebar-ring: #9bc3bb;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply mt-2 text-4xl font-semibold tracking-tight text-gray-900 dark:text-gray-50 lg:text-5xl lg:text-balance;
  }

  h2 {
    @apply mt-4 text-lg w-3/4 mx-auto text-softNeutral-600 dark:text-softNeutral-200;
  }

  h3 {
    @apply text-xl font-semibold text-teal-700 dark:text-deepBlue-400;
  }

  h4 {
    @apply text-3xl font-bold text-deepTeal-600 dark:text-deepBlue-400 mb-4;
  }

  h6 {
    @apply text-sm uppercase font-semibold text-teal-600 dark:text-deepBlue-400;
  }

  p {
    @apply mt-2 text-base text-gray-600 dark:text-gray-200;
  }
}

@layer components {
  .bg-radial {
    background: radial-gradient(
      100% 100% at 50% 100%,
      theme(colors.primary.DEFAULT) 14.06%,
      theme(colors.primary.DEFAULT) 100%,
      theme(colors.primary.DEFAULT) 100%
    );
  }
}
